<h3>Dashboard</h3>

<div style="display:flex; justify-content:space-around">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Dashboard Item
            </div>
            <div class="card-body">
                <h5 class="card-title">Added item example.</h5>
                <p class="card-text">All of these items were added.</p>
                <a href="#" class="btn-sm btn-success">Go to where this was added</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Dashboard Item 2
            </div>
            <div class="card-body">
                <h5 class="card-title">Added item example.</h5>
                <p class="card-text">All of these items were added.</p>
                <a href="#" class="btn-sm btn-success">Go to where this was added</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Dashboard Item 3
            </div>
            <div class="card-body">
                <h5 class="card-title">Added item example.</h5>
                <p class="card-text">All of these items were added.</p>
                <a href="#" class="btn-sm btn-success">Go to where this was added</a>
            </div>
        </div>
    </div>
</div>
<br/>
<div style="display:flex; justify-content:space-around">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Dashboard Item 3
            </div>
            <div class="card-body">
                <h5 class="card-title">Added item example.</h5>
                <p class="card-text">All of these items were added.</p>
                <a href="#" class="btn-sm btn-success">Go to where this was added</a>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Dashboard Item 3
            </div>
            <div class="card-body">
                <h5 class="card-title">Added item example.</h5>
                <p class="card-text">All of these items were added.</p>
                <a href="#" class="btn-sm btn-success">Go to where this was added</a>
            </div>
        </div>
    </div>
</div>

@code {

}
